@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
    font-family: "Eleni's Font", monospace;
    src: url(./Assets/SourceCodePro-Light.ttf);
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F2F2;
    margin: auto;
    width: 60vw;
}

header {
    margin-top: 8%;
}

header, footer {
    color: #010D00;
}

section {
    border: 4px solid black;
    border-radius: 24px;
    padding: 4% 4% 0% 4%;
    margin-bottom: 4%;
}

a {
    text-decoration:none;
}

h2 {
    /* color: #D9D9D9; */
    margin-top: 0%;
    margin-bottom: 8%;
    display: inline-block;
}

h3 {
    margin-top: 0px;
    margin-bottom: 8%;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    font-size: 24px;
}

article{

    margin-bottom: 8%;
}

article > div {
    display: flex;
    
/*     height:80%; */
}

section > article > div > div {
    display: inline-block;
    width: 50%;
    padding-right: 4%;
    font-size: 20px
}

h4 {
    margin-bottom: 8px;  
    margin-top: 0px;
    font-size: 24px;
}

h5 {
    margin: 16px 0px;
    padding: 1%;
    background-color: #F2F2F2;
    color:blue;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;

    word-break: break-all;
}

section >  article > div > aside {

    width: 30vw;
    min-height: 100px;
    background-color: #F2F2F2;
    border: 4px solid black;
    border-radius: 10px;
}

section > article > div > aside > p {

    width: 90%;

    display: block;

    font-size: 24px;
    
    color: rgba(255, 0, 0);

    margin-left: 5%;
    }


/* The list for the 3 dots */

aside > ul {
    padding-left: 3px;
    margin: 0px;
    background-color: #D9D9D9;border-radius: 10px 10px 0 0;
    border-bottom: 4px solid black;
}

aside > ul > li {
    display: inline-block;
    border: 5px solid red;
    border-radius: 50%;
    margin: 2px;
}

aside > ul > li:nth-child(2){
    border: 5px solid orange;
}

aside > ul > li:nth-child(3){
    border: 5px solid green;
}


/* 1st Section */

section:nth-of-type(1){
    background-color: #BDDBD0;
}

section:nth-of-type(1) > article > div > aside {
    font-weight: 900;
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX32598234.jpg)
}


section:nth-of-type(1) > article:nth-of-type(1) > div > aside > p {
    color: red;
}

section:nth-of-type(1) > article:nth-of-type(2) > div > aside > p {
    color: #05ffb0;
}

section:nth-of-type(1) > article:nth-of-type(3) > div > aside > p {
    color: rgb(50, 115, 220);
}

section:nth-of-type(1) > article:nth-of-type(4) > div > aside > p {
    color: rgba(0, 0, 0, 0.5);
}

section:nth-of-type(1) > article:nth-of-type(5) > div > aside > p {
    color: hsl(14, 100%, 53%);
}

section:nth-of-type(1) > article:nth-of-type(6) > div > aside > p {
    color: hsla(14, 100%, 53%, 0.6);
}

/* 2nd Section */


section:nth-of-type(2){
    background-color: #c0cdff;
}

section:nth-of-type(2) > article:nth-of-type(1) > div > aside > p {
    font-family: 'Times New Roman', Times, serif;
}

section:nth-of-type(2) > article:nth-of-type(2) > div > aside > p {
    font-family: 'Fredoka One', cursive;
}

section:nth-of-type(2) > article:nth-of-type(3) > div > aside > p {
    font-family: 'Abril Fatface', cursive;
}

section:nth-of-type(2) > article:nth-of-type(4) > div > aside > p {
    font-family: "Eleni's Font", monospace;
}

/* 3rd Section */

section:nth-of-type(3){
    background-color: #e5e9b3;
}


/* first article */

section:nth-of-type(3) > article:nth-of-type(1) > div > aside > p {
    font-size: medium;
}

/* second article */

section:nth-of-type(3) > article:nth-of-type(2) > div > aside > p {
    font-size: 18px;
}

/* third article  */

section:nth-of-type(3) > article:nth-of-type(3) > div > aside {
    font-size: 18px;
}

section:nth-of-type(3) > article:nth-of-type(3) > div > aside > div {
    font-size: 1.2em;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(3) > div > aside > div > div {
    font-size: 1.2em;
    background-color: green;
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(3) > div > aside > div > div > div {
    font-size: 1.2em;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}

/* fourth article  */
section:nth-of-type(3) > article:nth-of-type(4) > div > aside {
    font-size: 18px;
}

section:nth-of-type(3) > article:nth-of-type(4) > div > aside > div {
    font-size: 1.2rem;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(4) > div > aside > div > div {
    font-size: 1.2rem;
    background-color: green;
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(4) > div > aside > div > div > div {
    font-size: 1.2rem;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}

/* fifth article  */

section:nth-of-type(3) > article:nth-of-type(5) > div > aside {
    font-size: 18px;
}

section:nth-of-type(3) > article:nth-of-type(5) > div > aside > div {
    font-size: 90%;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(5) > div > aside > div > div {
    font-size: 90%;
    background-color: green;
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(5) > div > aside > div > div > div {
    font-size: 90%;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}

/* sixth article  */

section:nth-of-type(3) > article:nth-of-type(6) > div > aside {
    font-size: 18px;
}

section:nth-of-type(3) > article:nth-of-type(6) > div > aside > div {
    font-size: smaller;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(6) > div > aside > div > div {
    font-size: smaller;
    background-color: green;
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(6) > div > aside > div > div > div {
    font-size: smaller;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}

/* seventh article  */

section:nth-of-type(3) > article:nth-of-type(7) > div > aside {
    font-size: 18px;
}

section:nth-of-type(3) > article:nth-of-type(7) > div > aside > div {
    font-size: x-large;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(7) > div > aside > div > div {
    font-size: x-large;
    background-color: green;
    margin: 10px;
    padding: 5px;
}

section:nth-of-type(3) > article:nth-of-type(7) > div > aside > div > div > div {
    font-size: x-large;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}

/*  fourth section */

section:nth-of-type(4){
    background-color: #e6cbd4;
}

/* fifth section */

section:nth-of-type(5){
    background-color: #ceebc6;
}

section:nth-of-type(5) > article:nth-of-type(1) > div > aside > p {
    text-align: left;
}

section:nth-of-type(5) > article:nth-of-type(2) > div > aside > p {
    text-align: right;
}

section:nth-of-type(5) > article:nth-of-type(3) > div > aside > p {
    text-align: center;
}

section:nth-of-type(5) > article:nth-of-type(4) > div > aside > p {
    text-align: justify;
}

section:nth-of-type(5) > article:nth-of-type(5) > div > aside > p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* sixth section */

section:nth-of-type(6){
    background-color: #ebdcc6;
}

section:nth-of-type(6) > article:nth-of-type(1) > div > aside > p {
    font-weight: normal;
}

section:nth-of-type(6) > article:nth-of-type(2) > div > aside > p {
    font-weight: bold;
}

section:nth-of-type(6) > article:nth-of-type(3) > div > aside > p {
    font-weight: 600;
}

section:nth-of-type(6) > article:nth-of-type(4) > div > aside > p {
    font-weight: lighter;
}

/* seventh section */

section:nth-of-type(7){
    background-color: #ebc6c6;
}

section:nth-of-type(7) > article:nth-of-type(1) > div > aside > p {
    font-style: normal;
}

section:nth-of-type(7) > article:nth-of-type(2) > div > aside > p {
    font-style: italic;
}

section:nth-of-type(7) > article:nth-of-type(3) > div > aside > p {
    font-style: oblique;
}

/* eighth section */

section:nth-of-type(8){
    background-color: #c6cbeb;
}

section:nth-of-type(8) > article:nth-of-type(1) > div > aside > p {
    text-decoration: none;
}

section:nth-of-type(8) > article:nth-of-type(1) > div > aside > p {
    text-decoration: underline;
}

/* ninth section */

section:nth-of-type(9){
    background-color: #cfebc6;
}

section:nth-of-type(9) > article:nth-of-type(1) > div > aside > p {
    text-transform: none;
}

section:nth-of-type(9) > article:nth-of-type(2) > div > aside > p {
    text-transform: capitalize;
}

section:nth-of-type(9) > article:nth-of-type(3) > div > aside > p {
    text-transform: uppercase;
}

section:nth-of-type(9) > article:nth-of-type(4) > div > aside > p {
    text-transform: lowercase;
}

/* tenth section */

section:nth-of-type(10){
    background-color: #c6dceb;
}

section:nth-of-type(10) > article:nth-of-type(1) > div > aside > p {
    text-shadow: none;
}

section:nth-of-type(10) > article:nth-of-type(2) > div > aside > p {
    text-shadow: 2px 6px;
}

section:nth-of-type(10) > article:nth-of-type(3) > div > aside > p {
    text-shadow: 2px 6px blue;
}

section:nth-of-type(10) > article:nth-of-type(4) > div > aside > p {
    text-shadow: 2px 4px 10px blue;
}

/* eleventh section */

section:nth-of-type(11){
    background-color: #ffe9c0;
}

.fa-eye, .fa-cat {
    font-size: 80px;
    color: rgb(255, 0, 0);
    margin: 10px;
}

.fa-cat {
    color: white;
}



.fas {
    font-size: 120px;
    color: white;
    margin: 10px;
}

.fa-cat {
    text-shadow: 4px 4px 8px blueviolet;
}

.fa-code-branch {
    text-shadow: 4px 4px 8px rgb(226, 70, 43);
}

.fa-glass-martini {
    text-shadow: 4px 4px 8px rgb(184, 255, 102);
}

.color-black {
    color: rgb(147, 255, 244);
}

.ps {
    color: brown;
}

.ps::before {
    content: "I am ::before pseudo element";
    color: blue;
    border: 1px solid black;
}

.ps::after {
    content: "I am ::after pseudo element";
    color: rgb(255, 0, 200);
    border: 1px solid black;
}